| {
|  "name": "#{font.fontname}-iconset-svg",
|  "version": "0.0.1",
|  "authors": [],
|  "description": "Iconset generated from polyicon.com",
|  "main": "#{font.fontname}-iconset-svg.html",
|  "keywords": [
|    "Polymer",
|    "Icons",
|    "Iconset"
|  ],
|  "dependencies": {
|    "iron-icon": "polymerelements/iron-icon#^1.0.0",
|    "iron-iconset-svg": "polymerelements/iron-iconset-svg#^1.0.0",
|    "polymer": "Polymer/polymer#^1.0.0"
|  },
|  "devDependencies": {
|    "iron-component-page": "PolymerElements/iron-component-page#^1.0.0",
|    "iron-demo-helpers": "PolymerElements/iron-demo-helpers#^1.0.0",
|    "web-component-tester": "^4.0.0",
|    "webcomponentsjs": "webcomponents/webcomponentsjs#^0.7.0"
|  },
|  "ignore": [
|    "**/.*",
|    "bower_components"
|  ]
|}
