
black           = #000
grayDarker      = #222
grayDark        = #444
gray            = #666
grayLight       = #999
grayLighter     = #ccc
grayLightest    = #eee
white           = #fff


baseFontSize    = 14px
baseLineHeight  = 20px

layoutBg        = #FCFCFC

sansFontFamily  = "Helvetica Neue", Helvetica, Arial, sans-serif;
sansWideFontFamily  = Verdana, sans-serif;
serifFontFamily = Georgia, "Times New Roman", Times, serif;
monoFontFamily  = Menlo, Monaco, Consolas, "Courier New", monospace;

glyphPreviewColor0 = #FF7337
glyphPreviewColor1 = #46A001
glyphPreviewColor2 = #42A5F5
glyphPreviewColor3 = #E91E63
